@model KudevolveWeb.Models.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <link href="~/Content/RegAndLog/bootstrap.css" rel="stylesheet" />
    
    <link href="~/Content/RegAndLog/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/RegAndLog/bootstrap-responsive.min.css" rel="stylesheet" />
    @*<link href="~/Content/style.min.css" rel="stylesheet" />*@
    <link href="~/Content/RegAndLog/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/RegAndLog/retina.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://kudevolvestuff.cloudapp.net:6284/download/latest/oauth.js"></script>
    <link href="~/Scripts/flavr.css" rel="stylesheet" />
    <script src="~/Scripts/flavr.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/RegAndLog/soc.css" rel="stylesheet" />
    <script src="~/Content/RegAndLog/soc.js"></script>
    
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body ng-app="app">

    <script type="text/javascript">

        var count = 0;
       
        if (count == 0) {
            new $.flavr({
                content: 'Welcome to Kudevolve <br/> Sign in below using existing social accounts <br/> Or a Kudevolve account <br/> Have fun <br/> Admin(Sensei)',
                iconPath: 'http://kudevolvemain.azurewebsites.net/icons/',
                icon: 'star.png',
                buttons: {
                    Ok: { style: 'info' },
                    Cancel: { style: 'danger' }
                }
            });
            count = count + 1;
        }
        else {

        }
    </script>

    <div ng-controller="RegisterCtrl" class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                @using (Html.BeginForm("Register", "Accounts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    <h2>Please Sign Up <small>Kudevolve Online</small></h2>
                     <hr class="colorgraph">
                     
    <br />
                    
    @*<div class="col-sm-4 social-buttons">*@

    <div class="row">
        <a class="btn btn-block btn-lg btn-social btn-facebook" ng-click="facebook()">
            <i class="fa fa-facebook"></i> Sign up with Facebook
        </a>

        <a class="btn btn-block btn-lg btn-social btn-google-plus" ng-click="google()">
            <i class="fa fa-google-plus"></i> Sign up with Google
        </a>
        <a class="btn btn-block btn-lg btn-social btn-instagram" ng-click="instagram()">
            <i class="fa fa-instagram"></i> Sign up with Instagram
        </a>

        <a class="btn btn-block btn-lg btn-social btn-linkedin" ng-click="linkedin()">
            <i class="fa fa-linkedin"></i> Sign up with LinkedIn
        </a>

        <a class="btn btn-block btn-lg btn-social btn-twitter" ng-click="twitter()">
            <i class="fa fa-twitter"></i> Sign up with Twitter
        </a>
    </div>

        @*</div>*@
                     <br />
                   
                    <hr class="colorgraph">
                    <div class="form-group">
                        @*@Html.Bootstrap().TextBoxFor(model => model.FirstName).Class("form-control input-lg").Placeholder("First Name")
                        @Html.ValidationMessageFor(model => model.FirstName)*@ 
                        <input type="text" name="display_name" id="display_name" class="form-control input-lg" ng-model="FirstName" placeholder="First Name" tabindex="3" >
                    </div>
                    
                    
                    <div class="form-group">
                        @*@Html.Bootstrap().TextBoxFor(model => model.SecondName).Class("form-control input-lg").Placeholder("Last Name")
                        @Html.ValidationMessageFor(model => model.SecondName)*@
                        <input type="text" name="display_name" id="display_name" class="form-control input-lg" ng-model="LastName" placeholder="Last Name" tabindex="3" >
                    </div>

                    <div class="form-group">
                        @*@Html.Bootstrap().TextBoxFor(model => model.UserName).Class("form-control input-lg").Placeholder("User Name")
                        @Html.ValidationMessageFor(model => model.UserName)*@
                        <input type="text" name="display_name" id="display_name" class="form-control input-lg" ng-model="UserName" placeholder="Username" tabindex="3" >
                    </div>

                  


                    @*<div class="row">*@
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            @*@Html.Bootstrap().PasswordFor(model => model.Password).Class("form-control input-lg").Placeholder("Password")
                            @Html.ValidationMessageFor(model => model.Password)*@
                            <input type="password" name="first_name" id="first_name" class="form-control input-lg" ng-model="Password" placeholder="Password" tabindex="1" >
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">

                            @*@Html.Bootstrap().PasswordFor(model => model.ConfirmPassword).Class("form-control input-lg").Placeholder("Confirm Password")
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)*@
                            <input type="password" name="last_name" id="last_name" class="form-control input-lg" ng-model="ConfirmPassword" placeholder="Confirm Password" tabindex="2" >
                        </div>
                    </div>
                    @*</div>*@

                   
                    <div class="form-group">
                        @*@Html.Bootstrap().TextBoxFor(model => model.Email).Class("form-control input-lg").Placeholder("Email Address")
                        @Html.ValidationMessageFor(model => model.Email)*@
                        <input type="email" name="email" id="email" class="form-control input-lg" ng-model="Email" placeholder="Email Address" tabindex="4" >
                    </div>

                    <div class="form-group">
                       
                        <select ng-model="County" class="form-control input-lg">
                            <option selected="selected" disabled="disabled">Select County</option>
                            <option value="Kiambu">Kiambu</option>
                            <option value="Nairobi">Nairobi</option>
                            <option value="Muranga">Muranga</option>
                            <option value="Kitale">Kitale</option>
                            <option value="Kirinyaga">Kirinyaga</option>
                            <option value="Nyeri">Nyeri</option>
                        </select>
                    </div>

    <div class="form-group">
        @*@Html.Bootstrap().TextBoxFor(model => model.PhoneNumber).Class("form-control input-lg").Placeholder("Phone Number").Value("+254")
            @Html.ValidationMessageFor(model => model.PhoneNumber)*@
        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date" id="phone" class="form-control input-lg" placeholder="Date of Birth" ng-model="DateOfBirth">
    </div>

                    @*<div class="form-group">
                       
                        <input type="number" name="number" id="phone" class="form-control input-lg" ng-model="PhoneNumber" placeholder="Phone Number" value="+254" tabindex="4" >
                    </div>*@

                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                            </span>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                        </div>
                    </div>
    
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-md-6"><input type="button" value="Register" ng-click="register()" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                        <div class="col-xs-6 col-md-6"><a href="/Accounts/Login" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                    </div>

                }
               
            </div>


        </div>


    </div>


</body>
</html>
